@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-bg{
    -webkit-filter: blur(7px) brightness(65%) contrast(150%) saturate(200%);
    filter: blur(7px) brightness(65%) contrast(150%)  saturate(200%);
}


.displayLessions{
    height: auto;
}

.hideLessions{
    height: 0;
}



.closeDropDown{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
}