.courseSpecific-Container {
    padding: 0;
    height: 100%;
}

.courseSpecific-Content-Container{
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow: scroll;
    overflow-x: hidden; */
}

.courseSpecific-image-div {
    width: 100%;
    height: 60%;
    background-color: #C1C0C0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}