@tailwind base;
@tailwind components;
@tailwind utilities;


.displayOnHover{
    display: none;
}

.hoverClass:hover .displayOnHover{
    display: flex;
}


.displayOnHover-sm{
    display: none;
}

.hoverClass-sm:hover .displayOnHover-sm{
    display: flex;
}