/* Global Styling */

.center {
  position: relative;
width: 1440px;
height: 2085px;

background: #FFFFFF;
}

/* Title 'Course Catalogue' */
.title {
  position: absolute;
width: 468px;
height: 72px;
left: 486px;
top: 217px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 72px;

color: #000000;

}

/* Search Bar */
.SearchInput {

  box-sizing: border-box;

  position: absolute;
  width: 846px;
  height: 61px;
  left: 297px;
  top: 342px;
  
  border: 3px solid #B3B3B3;
  border-radius: 50px;

  padding-left: 70px;
   
}

.SearchInput::placeholder {
  

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #D9D9D9;
}

/* Search Bar Button -> Can use for different Pages 
.button {
position: absolute;
width: 85px;
height: 36px;
left: 367px;
top: 355px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #D9D9D9;

} 


.button:hover {
  background-color: gray;
}

*/


/* Magnifying Glass */

.search-icon {
  position: absolute;
  font-size: 26px;
  left: 322px;
  top: 357px;
  z-index: 1;
  color: #757575;
}

/* Text/Paragraph */
.text {
  position: absolute;
width: 840px;
height: 103px;
left: 304px;
top: 450px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;

color: #757575;


}