@tailwind base;
@tailwind components;
@tailwind utilities;


.socialSignUp {
  width: 300px;
  height: 50px;
  border: 2px solid #c4c4c4;
  cursor: pointer;
}


.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#5C5C5C 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#5C5C5C);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 2s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}

/* .socialSignUp:active {
  outline-style: solid;
  outline-color: #3366bb;
} */
