.spiner-loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#B0B0B0 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#B0B0B0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }

  .bar-loader {
    height:4px;
    width:130px;
    background:
     linear-gradient(#858585 0 0),
     linear-gradient(#858585 0 0),
     #E4E4ED;
   background-size: 60% 100%;
   background-repeat: no-repeat;
   animation: p6 3s infinite;
 }
 
 @keyframes p6 {
   0%   {background-position:-150% 0,-150% 0}
   66%  {background-position: 250% 0,-150% 0}
   100% {background-position: 250% 0, 250% 0}
 }