@tailwind base;
@tailwind components;
@tailwind utilities;


.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}






/* Disable selection */
.no-select {
    user-select: none;
}



.fadeout_bottom {
    --mask: linear-gradient(to bottom, 
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
        rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    
    -webkit-mask: var(--mask); 
    mask: var(--mask);
    
  }


/* Linear Gradients */
/* Background Linear Gradient */

.linearGradient_ver1 {
    background: rgb(207, 68, 68);
    background: linear-gradient(278deg, rgba(207, 68, 68, 1) 0%, rgba(217, 110, 85, 1) 27%, rgba(215, 62, 197, 1) 74%, rgba(215, 62, 197, 1) 97%);
}

.linearGradient_ver2 {
    background: rgb(68, 207, 78);
    background: linear-gradient(238deg, rgba(68, 207, 78, 1) 0%, rgba(204, 217, 85, 1) 27%, rgba(62, 215, 122, 1) 74%, rgba(68, 207, 78, 1) 97%);
}

.linearGradient_ver3 {
    background: rgb(68, 205, 207);
    background: linear-gradient(332deg, rgba(68, 205, 207, 1) 0%, rgba(136, 85, 217, 1) 27%, rgba(80, 62, 215, 1) 74%, rgba(55, 162, 227, 1) 97%);
}

.linearGradient_ver4 {
    background: rgb(74, 9, 121);
    background: linear-gradient(315deg, rgba(74, 9, 121, 1) 19%, rgba(172, 27, 143, 1) 57%, rgba(247, 53, 53, 1) 83%);
}

/* Animated lineargradient brackground*/
.animated_linearGradient_ver2 {
    background: linear-gradient(238deg, rgba(68, 207, 78, 1) 0%, rgba(204, 217, 85, 1) 27%, rgba(62, 215, 122, 1) 74%, rgba(68, 207, 78, 1) 97%);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}
.animated_linearGradient_ver3 {
    background: linear-gradient(332deg, rgba(68, 205, 207, 1) 0%, rgba(136, 85, 217, 1) 27%, rgba(80, 62, 215, 1) 74%, rgba(55, 162, 227, 1) 97%);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
}
.animated_linearGradient_ver4 {
    background: linear-gradient(315deg, rgba(74, 9, 121, 1) 19%, rgba(172, 27, 143, 1) 57%, rgba(247, 53, 53, 1) 83%);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

/* Text Linear Gradient */
.text_linearGradient_ver1 {
    background-image: linear-gradient(278deg, rgba(207, 68, 68, 1) 0%, rgba(217, 110, 85, 1) 27%, rgba(215, 62, 197, 1) 74%, rgba(207, 68, 68, 1) 97%) !important;
    background-clip: text;
    color: transparent;
}


/* Hover to display children */
.hover-children {
    opacity: 0;
    transition: opacity 0.1s ease;
    /* Transici贸n de opacidad con duraci贸n de 0.3 segundos y funci贸n de aceleraci贸n suave */
}

.hover-parent {
    position: relative;
}

.hover-parent:hover .hover-children {
    opacity: 1;
}


/* Point down arrow form to a div */
.arrow {
    clip-path: polygon(100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
}













@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}