@tailwind base;
@tailwind components;
@tailwind utilities;

.page-loader {
    width:22.5px;
    height:20px;
    --c:linear-gradient(#6B6B6B calc(50% - 5px),#0000 0 calc(50% + 5px),#6B6B6B 0);
    background: 
      var(--c) 0%   100%,
      var(--c) 50%  100%,
      var(--c) 100% 100%;
    background-size:4.5px calc(200% + 10px);
    background-repeat: no-repeat;
    animation:b4 1s infinite linear;
  }
  @keyframes b4 {
      33%  {background-position: 0% 50%,50% 100%,100% 100%}
      50%  {background-position: 0%  0%,50%  50%,100% 100%}
      66%  {background-position: 0%  0%,50%   0%,100%  50%}
      100% {background-position: 0%  0%,50%   0%,100%   0%}
  }