body,
#root {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin-bottom: 0px !important;
}

textarea {
  resize: none !important;
}

/* extra margin classes */
.mt-6,
.my-6 {
  padding-top: 5rem !important;
}

.me-6,
.mx-6 {
  padding-right: 5rem !important;
}

.mb-6,
.my-6 {
  padding-bottom: 5rem !important;
}

.ms-6,
.mx-6 {
  padding-left: 5rem !important;
}

/* font size utility classes */
.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

/* font weight utility classes */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

/* colour utility classes */
.c-black {
  color: black !important;
}

.c-white {
  color: white !important;
}

.c-gray {
  color: #707070;
}

.c-blue {
  color: #2699fb;
}

.c-darkBlue {
  color: #4a6884 !important;
}

/* background colour utility classes */
.bgc-darkGray {
  background-color: #7b7c7c;
}

.bgc-lightGray {
  background-color: #d9d9d9;
}

.bgc-lightLightGray {
  background-color: #f3f3f3;
}

.bgc-lightBlue {
  background-color: #e3f4ff;
}

/* border colour utility classes */
.bor-lightGray {
  border-color: #c4c4c4;
}

.bor-darkGray {
  border-color: #757575;
}

.bor-blue {
  border-color: #2699fb !important;
}

/* border radius utility classes */
.borRad-10 {
  border-radius: 10px !important;
}

.borRad-15 {
  border-radius: 15px !important;
}

.borRad-20 {
  border-radius: 20px !important;
}

/* hover utility classes */
.pointer:hover {
  cursor: pointer;
}

/* button utility classes */
.btn-gray-shadow {
  background-color: #d9d9d9 !important;
  box-shadow: 0px 5px 5px #757575;
}

/* border shadow utility classes */
.bor-shadow {
  box-shadow: 0px 3px 5px #d9d9d9;
}

/* no line form input */
.form-input-noline {
  border: none;
  outline: none;
  padding: 10px;
}

.form-input-noline:focus {
  background-color: #d9d9d9;
}

.form-input-noline::after,
::before {
  box-sizing: none;
}

.form-input-noline::placeholder {
  color: #707070;
}
