/* Coded by: Taylor Oxelgren */

/* Basic styling for the buttons */
.weekdayButtons{
    display:inline-block;
    height:50px;
    width:calc(60%/7);
    text-align: center;
    font-size: large;
    margin-right: 4%;
    margin-left:1%;
    border:0;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.weekdayButtons:hover{
    background-color: #F3F3F3;
}

.buttonFrame{
    display:block;
    width: 100%;
}