@tailwind base;
@tailwind components;
@tailwind utilities;


.display_text canvas {
  /* Tus estilos aquí para el primer hijo */
  display: none !important;
}
.maxHeight{
  max-height: 500px;
}
.display_text {
  overflow-y: auto;
  display: flex;
  justify-content: center; 
  align-items: center;  
  overflow: auto; 
  padding: 2rem 0;
  font-size: larger !important;
  width: 100% !important;
}

.display_text span {
  font-size: 1rem !important;
}

.display_text>*:not(:first-child) {
  text-align: justify ;
  margin: auto;
  width: auto !important;
  height: 500px;

}
.display_image{
  display: flex;
  width: 100% !important;
  justify-content: center; 
  align-items: center;    
  overflow-y: auto;

}
.display_image canvas {
  margin-top: 22rem;
  border: 1px solid #00000027;
}
.display_image>*:not(:first-child) {
  display: none !important;
}

.annotationLayer {
  display: none !important;
}

.displayOnHover{
  display: none;
}

.hoverClass:hover .displayOnHover{
  display: flex;
}

