@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-loader-white {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#F4F4F4 94%,#0000) top/4px 4px no-repeat,
      conic-gradient(#0000 30%,#F4F4F4);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 0.5s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }

.class-video::-webkit-media-controls{
    display: none !important;
}

.speed-container p{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hoverElementOppacity{
    opacity: 0;
    transition: all 0.1s ease-in-out;
}

.hoverParentOppacity:hover .hoverElementOppacity{
    opacity: 1;
}

.hoverElement-small{
    display: none;
}

.hoverParent-small:hover .hoverElement-small{
    display: flex;
}