.container{
    position: relative;
    margin:0;
    margin-right:0;
    padding:0;
    width:100%;
    height:100%;
}

/* GLOBAL Styling */
.Book-Marked-Courses1 {
    box-sizing: border-box;

    position: relative;
    width: 100%;
    height: 100%;
    
    margin:0;

    background: #FFFFFF;
    border: 2px solid #757575;
    border-radius: 20px;

    padding: 0px;
}


/* Image Container */
.image-container svg {
    position: relative;
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
}



/* Title Styling */
.title-container a h1 {
    position: absolute;
    left: 8%;
    top: 62%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3vw;
    line-height: 2vw;
/* identical to box height */


color: #000000;

}

.title-container a h1:hover {
    font-weight: bold;
}


/* Author Styling */
.author-container a h2 {
    position: absolute;
    left:8%;
    top: 72%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .8vw;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    color: #000000;

    margin: 0px;
    padding: 0px;
}

.author-container a h2:hover {
    background-color: #757575;
} 

/* Description Styling */
.description-container p {
    
    position: absolute;
    width: 230px;
    height: 18px;
    top: 271px;
    left:8%;
    top: 78%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .78vw;
    /* identical to box height */


    color: #757575;

    margin: 0px;
    padding: 0px;
}

/* Age Styling */
.age-container .age-button {
    position: absolute;
    width: 21%;
    height: 6%;
    top: 89%;
    left: 8%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;

    margin: 0px;
    padding: 0px;

    border: #D9D9D9;

    background: #D9D9D9;
    border-radius: 21px;
}

.age-button p {
  
    position: relative;

    top:20%;
    left: -9%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .65vw;
    line-height: 15px;
    /* identical to box height */


    color: #000000;
}

.x-button {
    
    position: absolute;
    aspect-ratio: 1/1;
    width: 4%;
    right: 6%;
    top: 25%;
    margin-left:20%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #FFFFFF;

    border: #FFFFFF;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: .5vw;
    line-height: .625vw;
    text-align: center;
}

.age-container .age-button:hover {
    background-color: darkgrey;
}

.age-container .age-button .age-x-button:hover {
    background-color: #000000;
    color:#FFFFFF;
}

/* Subject Styling */
.subject-container .subject-button {
    position: absolute;
    left: 32%;

    width: 26%;
    height: 6%;
    top: 89%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

    margin: 0px;
    padding: 0px;

    border: #D9D9D9;

    background: #D9D9D9;
    border-radius: 21px;

}

.subject-button p {
    position: relative;

    top:20%;
    left: -9%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .65vw;
    line-height: 15px;
    /* identical to box height */


    color: #000000;

}


  .subject-container .subject-button:hover {
    background-color: darkgrey;
}

.x-button:hover {
    background-color: #000000;
    color:#FFFFFF;
}

