.bg-light-grey {
    background-color: lightgray;
  }
  
  .course-card {
    background-color: lightgray;;
  }
  
  .course-card img {
    width: 100px;
    background-color: lightgray;
  }
  
 
 
  
  