.bg-light-grey {
    background-color: lightgray;
  }
  
  .course-card {
    background-color: lightgray;;
  }
  
  .course-card img {
    width: 100px;
    background-color: lightgray;
  }

  .small-image {
    max-width: 30px; /* Set the desired width */
    height: auto; /* Automatically adjust height */
  }
  
 
 
  
  